/*-------------------*/
/*-----DEPAULT SETUP*/
/*--------------------*/


*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}


html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #ffffff;
    text-rendering:optimizelegibility;}
    /*---------------------------------*/
    /*------REUSABLE COMPONENT-------*/
    /*-------------------------------*/
    header{
        background-image: linear-gradient(35deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85)), url('../img/Background.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
    }
    .logo{
        width: 300px;
            float: left;
            margin-left: 50px;
            margin-top: -35px;
            margin-bottom: -100px;
    }
    .main-nav{
        float: right;
        list-style: none;
        margin-right: 50px;
        margin-top: 55px;
    }
    .main-nav li{
        display: inline-block;
        margin-right: 30px;
    }
    .main-nav li a:hover,
    .main-nav li a:active{
        border-bottom: 3px solid #cccccc;
    }
    .main-nav li a{
        text-decoration: none;
        color: white;
        font-size: 110%;
        font-weight: 700;
        transition: border-bottom 0.5s;
        padding: 2px 0;
    }
    .clearfix::after{
        content: " ";
        display: table;
        clear: both;
    }
    .row{
        max-width: 1140px;
        margin: 0 auto;
    }
    .heading-main-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -55%);
        width: 1140px;
    }
    h1{
        font-size: 280%;
        font-weight: 400;
        word-spacing: 3px;
        color: whitesmoke;
        list-style: 100%;
        margin-bottom: 40px;
    }
    .btn{
        text-decoration: none;
        color: white;
        background-color: #e63e22;
        padding: 15px 30px;
        border-radius: 20px;
        margin: 0 5px;
        width: 190px;
        display: inline-block;
        text-align: center;
        transition: all .3s;
    }
    .btn:hover,
    .btn:active{
        background-color: #e27c38;
    }
    h2{
        color: #e67e22;
        font-size: 180%;
        font-weight: 700;
        text-align: center;
    }
    h1, h2, h3{
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h3{
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
        background-color: #265077;
        color: black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: 15px;
    }
    h2:after{
        content: " ";
        display: block;
        width: 150px;
        height: 2px;
        background-color: rgba(211, 165, 124, 0.5);
        margin: 0 auto;
        margin-top: 5px;
    }
    .p-long{
        text-align: center;
        color: #265077;
        font-size: 22px;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 70%;
        margin-left: 15%;
        line-height: 140%;
    }
    section{
        padding: 50px;
    }

    .small-icon{
        color:#305679;
        font-size: 130%;
        margin-right: 10px;
    }
    

    /*----------------------------------*/
    /*-------------HEADER--------------*/
    /*---------------------------------*/ 

.about-picture{
    position: relative;
    margin-top: 30px;
}

    .about-picture img{
        width: 90px;
        border-radius: 20px;
        border: 4px  solid #a2c5e4;
        box-shadow:0px 5px -15px 5px #265077 ;
         /* x-y-mờ đọ phóng rộng-màu */
    }

    .picture-title{
        position: absolute;
        top: 50%;
        left: 50%;
        color: #c2e1fd;
        transform: translate(-65%, 100%);
        opacity: 0;
        transition: all .7s;
    }
    .about-picture:hover img,
    .about-picture:active img{
        filter: brightness(60%) blur(2px);
    }

    .about-picture:hover .picture-title,
    .about-picture:active .picture-title{
    transform: translate(-65%, -50%);
    opacity: 1;}
    /*-----------------------------------*/
    /*---------PRODUCT-SECTION-----------*/
    /*-----------------------------------*/
    .prodoct-section{
        background-color: #371111;

    }
    .product-section h2{
        margin-bottom: 60px;
    }
    .product-box{
        background-color: #0d0e11;
        box-shadow: 3px 5px 10px #e0e0e0;
        width: 90px;
        height: 350px
    }
    .product-price{
        color:#265077;
        font-size: 250%;
         font-weight: 300;
         text-align: center;
    }
    .product-price span {
        font-size: 80%;
    }
    .product-box ul li {
        margin-left: 20%;
        list-style: none;
        margin-top: 20px;
        margin-bottom: 20px; 
    }
    .product-box.btn{
        margin-left: 20px;
    }
    /*-------------------------------*/
    /*-----------TESTIMONIALS SECTION--------*/
    /*-------------------------------------*/
    .testimonials-section{
        background-image:linear-gradient(35deg, rgba(123, 111, 111, 0.8) 55%,black), url('../img/hinh1.jpeg') ;
        background-position: center;
        background-size:cover;
        background-attachment:fixed ;

    }
    .testimonials-section h2{
        margin-bottom: 70px;
    }

    blockquote{
        width: 95%;
        position:relative;
        font-size: italic;
        line-height: 140%;
        color: white;
    }


    cite{
        display: block;
        color: #583607;
        margin-top: 25pxf;
    }
    cite  img{
        height: 50px;
        border-radius: 50%;
        border: 2px solid black;
        vertical-align: middle;
        margin-right: 5px;
    }
    /*-----------------------------*/
    /*--------SPONSOR SECTION-------*/
    /*------------------------------*/


    .sponsor-section{
        background-color: #f4f4f4;

    }

    .sponsor-section h2{
        margin-bottom: 50px;
    }


    .sponsor-showcase{

    }

    .sponsor-showcase li{
        list-style: none;
        float: left;

    }

    .logo-sponsor{
        width: 140px;
        cursor:pointer;
        transition:all .3s;

    }


    .sponsor-showcase li .logo-sponsor:hover,
    .sponsor-showcase li .logo-sponsor:active{
        transition: scale(1.1);
    }

    figcaption{
        color:#265077;
        font-weight: 900;
        font-size: 120%;
        cursor:pointer;

    }
